
<div class="container" style="margin-top: 50px;">
  <h1>Prueba de Angular para MAERSK - APMT IS Perú</h1>
  <br>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Texto" aria-label="Texto" aria-describedby="basic-addon1" id="texto">
  </div>
  
  <div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Numero" aria-label="Numero" aria-describedby="basic-addon1" id="numero">
  </div>
  
  <div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" id="select">
      <option selected>Seleccionar una opcion</option>
      <option value="1">Opcion 1</option>
      <option value="2">Opcion 2</option>
      <option value="3">Opcion 3</option>
    </select>
    <label for="floatingSelect">Works with selects</label>
  </div>
  <br>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" id="comentario"></textarea>
    <label for="floatingTextarea">Comments</label>
  </div>
  <br>
    <button type="button" class="btn btn-dark"  >Enviar</button>
</div>

